.preview-section {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 300px;
}

.preview-section .preview-project-image {
  width: 100%;
  display: block;
}

.preview-section .preview-card {
  position: absolute;
  bottom: -250px;
  left: 58.5%;
  transform: translateX(-60%);
  z-index: 10;
  width: 90%;
}

@media (min-width: 768px) {
  .preview-section {
    max-width: 500px;
  }
  .preview-section .preview-card {
    bottom: -300px;
    width: 95%l;
    left: 58.5%;
  }
}
